/*Referenced to https://www.w3schools.com/css/default.asp*/

.bg-1 {
    background-color: #F1B900;
    color: #ffffff;
}

.bg-2 {
    background-color: #0C005B;
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    color: #555555;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.margin *{
    margin-left: 100px;
    margin-right: 100px;
}

.img-circle {
    width: 20%;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #fff000 !important;
}

#current-book {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 650px;
  max-width: 650px;
}


#song-container {
  margin-top: 20px;
}

#contact {
    text-align: center;
}

#contact-icons {
    list-style-type: none;
}

#contact-icons li {
    display: inline;
}

.contact-link {
    padding: 20px;
    width: 50px;
}

.contact-icon {
    width: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    max-height: 200px;
    max-width: 200px;
}

#map {
    height: 600px;
    width: 100%;
    color: #555555;
}

p {
    font-size: large;
}