#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

img {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 650px;
  max-width: 650px;
}

img:hover {
  border: thick solid black;
}

#song-container {
  margin-top: 20px;
}
