/*Referenced to https://www.w3schools.com/css/default.asp*/

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #CDCDCD;
}

.nav-item {
    float: right;
}

.nav-title {
    float: left;
    font-weight: bold;
}

.nav-link {
    display: block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown {
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .navlink {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  margin-top: 60px;
}

#profile-picture, #current-book {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 650px;
  max-width: 650px;
}

#profile-picture:hover {
  border: thick solid black;
}

#song-container {
  margin-top: 20px;
}

#contact {
    text-align: center;
}

#contact-icons {
    list-style-type: none;
}

#contact-icons li {
    display: inline;
}

.contact-link {
    padding: 20px;
    width: 50px;
}

.contact-icon {
    width: 50px;
}
